.dashboard_Page
{
    margin: auto;
    height: 500px;
    width: 705px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dashboard_explorer
{
    padding: 20px;
    float: left;
}
.cardContainer
{
    border: 1px solid #D0D8DF;
    height: 100px;
    width: 250px;
    float: left;
    background: #D3D3D3;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    border-radius: 10px;
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.cardContent
{
    padding: 10px;
}
.cardLogoContainer
{
    background: #20b2aa;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
    text-align: center;
}
.cardLogoContainer span
{
    font-size: 14px;
    padding: 7px 0px;
    display: block;
}
.cardText
{
    padding: 20px 0px 15px 10px;
    font-size: 18px;
    text-size-adjust: auto;
}
.cardParent {
    float: left;
    padding: 40px;
}
.cardContainer.active:hover
{
    transform: translateZ(0) scale(1.1); 
    transition: all 0.5s ease;   
    filter: blur(0);
    text-size-adjust: auto;
    font-size: 80%;
}
.cardContainer:not(.active)
{
    opacity: 0.5;
}
